<div class="container main">
  <div class="row mt-4 nttData">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="row">
        <div class="col-6">
          <h4>Lista Evolutive</h4>
          
        </div>

        <div class="col-6 d-flex flex-row-reverse" style="padding-right:120px;">
          <button #btnAddEvo class="btn buttonAggiungi" (click)="openNTTmodal(modaNewEvo)"><i class="fas fa-plus"> </i>
          </button>
        </div>
      </div>

      <div class="row">

        <div class="col">
          <div *ngFor="let evolutiva of evolutive">
            <div class="cardEvolutiva row" type="button" #btnStore id={{evolutiva.id}} type="button"
              (click)="aprimodaleInfo(evolutiva.id)">
              <div class="col-6">
                {{evolutiva.descrizione}}
              </div>
              <div class="col-6 d-flex flex-row-reverse">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>


<ng-template #modalEvoluitvaInfo let-modal>
  <div class="modaleheader">
    <div class="row">
      
      <div class="col-9"></div>
      
      <div *ngIf="!modificaFlag" class="col-3 d-flex flex-row-reverse">
        <button type="button" class="btn buttonAggiungi fas fa-times " (click)="closeAllModal()"></button>
      </div>
    </div>
  </div>
 
    <div class="modal-body container">
      <div class="row">
        <div class="col">
          
          <div class="accordion" id="accordionPanelsStayOpenExample">
            <!--PRIMO ACCORDION-->
            <div class="accordion-item accordionNTT-item">
              <h2 class="accordion-header " id="panelsStayOpen-headingOne">
                <button class="accordion-button accordionNTT" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                  aria-controls="panelsStayOpen-collapseOne" style="font-weight: bold;">
                  GENERALE
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body accordionbodyNTT">
                  <div class="row">
                    <!-- Semicolonna di sx-->
                    <div class="col-5">
                      <div class="form-group">
                        <label for="acronimo" class="inputLabel"> Acronimo:</label>
                       <!--<input id= "acronimo" type="text" [(ngModel)]="inputAcronimo" placeholder="Acronimo"
                          [ngModelOptions]="{standalone: true}"
                          [className]="acronimo.invalid && (acronimo.dirty || acronimo.touched) ? 'inputFormRed' : 'inputForm'"
                          required minlength="3" #acronimo="ngModel" />

                       --> 
                          <select  id= "acronimo" class="form-select inputForm" [(ngModel)]="evolutivaID.acronimo"
                          [ngModelOptions]="{standalone: true}"
                          [className]="acronimo.invalid && (acronimo.dirty || acronimo.touched) ? 'inputFormRed' : 'inputForm'"
                          required minlength="2"  #acronimo="ngModel" disabled >
                          
                          <option>APDF0</option>
                          <option>GPDF0</option>
                          <option>LPDF0</option>
                          <option>UPDF0</option>
                          <option>ALCM0</option>
                          <option>MWFM0</option>
                          <option>MAUP0</option>
                          <option>WFMI0</option>
                          <option>MPAD0</option>
                          <option>GRAP0</option>
                          <option>8ODDD</option>
                          <option>MFEA0</option>
                          <option>PAPL0</option>
                          <option>NBPP0</option>
                          <option>NBPM0</option>
                          <option>CJHA0</option>
                          <option>41DDD</option>
                          <option>OKTA0</option>
                          <option>MSAD0</option>
                          <option>LCRO0</option>
                          <option>ZPDF0</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="richiedenteISP" class="inputLabel"> Richiedente ISP: </label>
                          <select  id= "richiedenteISP" class="form-select inputForm" [(ngModel)]="evolutivaID.richiedenteISP"
                          [ngModelOptions]="{standalone: true}"
                          [className]="richiedenteISP.invalid && (richiedenteISP.dirty || richiedenteISP.touched) ? 'inputFormRed' : 'inputForm'"
                          required minlength="2" #richiedenteISP="ngModel" disabled >
                          
                          <option>Angelino</option>
	                        <option>Boscolo</option>
	                        <option>Busacca</option>
	                        <option>Castellazzi</option>
	                        <option>Cipolla</option>
	                        <option>Cipolat</option>
	                        <option>Da Vià</option>
	                        <option>Demontis</option>
	                        <option>Delbono</option>
	                        <option>Di Costa</option>
	                        <option>Gentile</option>
	                        <option>Lizzi</option>
	                        <option>Perazzolo </option>
	                        <option>Perlo</option>
	                        <option>Vento</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="refNTTD" class="inputLabel"> Referente NTT DATA: </label>
                        
                          <select id="refNTTD"  class="form-select" [(ngModel)]="evolutivaID.refNTTD"
                          [ngModelOptions]="{standalone: true}"
                          [className]="refNTTD.invalid && (refNTTD.dirty || refNTTD.touched) ? 'inputFormRed' : 'inputForm'"
                          required minlength="3" appForbiddenName=""  #refNTTD="ngModel" disabled>
                          
                          <option>Giangualano</option>
                          <option>Bustamante</option>
                          <option>Punturiero</option>
                          <option>Giuganino_(RUD)</option>
                          <option>Zito</option>
                        </select>
                      </div>
                    </div>
                    <!-- Semicolonna di dx-->
                    <div class="col-7">
                      <div class="form-group">
                        <label for="Descrizione" class="inputLabel" >Descrizione:</label>
                        <textarea class= "textAreaNTT" type="text" [(ngModel)]="evolutivaID.descrizione" 
                          [ngModelOptions]="{standalone: true}"
                          [className]="descrizione.invalid && (descrizione.dirty || descrizione.touched) ? 'inputFormRed textAreaNTT' : 'inputForm textAreaNTT'"
                          required minlength="10" #descrizione="ngModel" disabled  >
                        </textarea>
                      </div>
                    </div>
                  </div>



                </div>
              </div>
            </div>
            <!--SECONDO ACCORDION-->
            <div class="accordion-item accordionNTT-item">
            
              <h2 class="accordion-header " id="panelsStayOpen-headingTwo">
                <button class="accordion-button  accordionNTT collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                  aria-controls="panelsStayOpen-collapseTwo" style="font-weight: bold;">
                  Campo 2 (decidere titolo)
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body accordionbodyNTT">
                  <div class="row">
                    <!-- Semicolonna di sx-->
                    <div class="col-6">
                      <div class="form-group">
                        <label for="refNTTD" class="inputLabel"> Referente Realizzazione NTT DATA: </label>
                        
                          <select id="refRealizzazNTTD"  class="form-select inputForm" disabled >
                          <option [ngValue] = "evolutivaID.refRealizzazNTTD">{{evolutivaID.refRealizzazNTTD.nome}} {{evolutivaID.refRealizzazNTTD.cognome}} </option>
                        </select>
                      </div>
                    
                      <div class="form-group">
                        <label for="tipoRichiesta" class="inputLabel"> Tipo richiesta: </label>
                          <select  id= "tipoRichiesta"  class="form-select inputForm" [(ngModel)]="evolutivaID.tipoRichiesta"
                          [ngModelOptions]="{standalone: true}"
                          #tipoRichiesta="ngModel" disabled >
                          <option></option>
                          <option>EVOLUTIVA</option>
	                        <option>EVOLUTIVA_SOSPESA</option>
	                        <option>SOTTRARRE_TESORETTO</option>
	                        <option>TESORETTO</option>
	                        <option>DA_NON_FARE</option>
	                      
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="loiNumOrdineNTTD" class="inputLabel"> Loi Numero d'Ordine (NTTD): </label>
                        
                          <input type="text" id="loiNumOrdineNTTD" class="form-input inputForm " [(ngModel)]="evolutivaID.loiNumOrdineNTTD"
                          [ngModelOptions]="{standalone: true}"
                           #refNTTD="ngModel" disabled/>
                         
                      </div>
                    </div>
                    <!-- Semicolonna di dx-->
                    <div class="col-6">
                      <div class="form-group">
                        <label for="statoTesorettoEvo" class="inputLabel"> Stato Tesoretto/Evolutive: </label>
                          <select  id= "statoTesorettoEvo" class="form-select inputForm" [(ngModel)]="evolutivaID.statoTesorettoEvo"
                          [ngModelOptions]="{standalone: true}"
                          #statoTesorettoEvo="ngModel" disabled>
                          <option></option>
                          <option>USO_TESORETTO_AUTORIZZATO</option>
	                        <option>EVOLUTIVA_AUTORIZZATA_SENZA_RDA</option>
	                        <option>DA_CONFERMARE_ISP</option>
	                        <option>EVOLUTIVA_AUTORIZZATA_CON_RDA</option>
	                        <option>NA</option>
                          <option>USO_TESORETTO_DA_AUTORIZZARE</option>
	                      
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="tecSviluppo" class="inputLabel"> Tecnologie di Sviluppo: </label>
                          <select  id= "tecSviluppo"  class="form-select inputForm" [(ngModel)]="evolutivaID.tecSviluppo"
                          [ngModelOptions]="{standalone: true}"
                          #tecSviluppo="ngModel" disabled>
                          <option></option>
                          <option>Workbench</option>
	                        <option>Designer</option>
	                        <option>Xml</option>
	                        <option>VisualStudio</option>
	                        <option>Kofax_Total_Agility</option>
                          <option>Kofax_Trasformation</option>
                          <option>angular</option>
                          <option>java</option>
	                      
                        </select>
                      </div>
                      
                      <div class="form-group">
                        <label for="rdaISP" class="inputLabel"> RDA (da ISP): </label>
                        
                          <input type="text" id="rdaISP" class="form-input inputForm " [(ngModel)]="evolutivaID.rdaISP"
                          [ngModelOptions]="{standalone: true}"
                           #refNTTD="ngModel" disabled/>
                         
                      </div>
                    </div>
                    
                  </div>



                </div>
              </div>
            </div>
           <!--TERZO ACCORDION-->
           <div class="accordion-item accordionNTT-item">
            
            <h2 class="accordion-header " id="panelsStayOpen-headingThree">
              <button class="accordion-button  accordionNTT collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseThree" style="font-weight: bold;">
                Campo 3 (decidere titolo)-DATE?
              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingThree">
              <div class="accordion-body accordionbodyNTT">
                <div class="row">
                  <!-- Semicolonna di sx-->
                  <div class="col-6">
                    <div class="form-group">
                      <label for="dtApproStima" class="inputLabel"> Data approvazione stima: </label>
                      
                        <input type="date" id="dtApproStima" class="form-input inputForm " 
                        [ngModel]="evolutivaID.dtApproStima | date:'y-MM-dd'"  [ngModelOptions]="{standalone: true}"
                         #dtApproStima="ngModel" disabled/>
                         
                       
                    </div>
                    <div class="form-group">
                      <label for="dtRichiesta" class="inputLabel"> Data richiesta: </label>
                      
                      <input type="date" id="dtRichiesta" class="form-input inputForm " 
                      [ngModel]="evolutivaID.dtRichiesta | date:'y-MM-dd'"  [ngModelOptions]="{standalone: true}"
                       #dtRichiesta="ngModel" disabled/>
                       
                    </div>
                    <div class="form-group">
                      <label for="dtInvioStima" class="inputLabel"> Data invio stima: </label>
                      
                      <input type="date" id="dtInvioStima" class="form-input inputForm " 
                      [ngModel]="evolutivaID.dtInvioStima | date:'y-MM-dd'"  [ngModelOptions]="{standalone: true}"
                       #dtInvioStima="ngModel" disabled/>
                       
                    </div>
                    <div class="form-group">
                      <label for="dtDocTecnica" class="inputLabel"> Data documentazione tecnica: </label>
                      
                      <input type="date" id="dtDocTecnica" class="form-input inputForm " 
                      [ngModel]="evolutivaID.dtDocTecnica | date:'y-MM-dd'"  [ngModelOptions]="{standalone: true}"
                       #dtDocTecnica="ngModel" disabled/>
                       
                    </div>
                    <div class="form-group">
                      <label for="dtProd" class="inputLabel"> Data in produzione : </label>
                      
                      <input type="date" id="dtProd" class="form-input inputForm " 
                      [ngModel]="evolutivaID.dtProd | date:'y-MM-dd'"  [ngModelOptions]="{standalone: true}"
                       #dtProd="ngModel" disabled/>
                       
                    </div>

                  </div>
                  <!-- Semicolonna di dx-->
                  <div class="col-6">
                   
                    
                    <div class="form-group">
                      <label for="dtInoltroOfferta" class="inputLabel"> Data inoltro offerta: </label>
                      <input type="date" id="dtInoltroOfferta" class="form-input inputForm " 
                      [ngModel]="evolutivaID.dtInoltroOfferta | date:'y-MM-dd'"  [ngModelOptions]="{standalone: true}"
                       #dtInoltroOfferta="ngModel" disabled/>
                        
                       
                    </div>
                    <div class="form-group">
                      <label for="dtAvvioAttivita" class="inputLabel"> Data avvio attività: </label>
                      
                      <input type="date" id="dtAvvioAttivita" class="form-input inputForm " 
                      [ngModel]="evolutivaID.dtAvvioAttivita | date:'y-MM-dd'"  [ngModelOptions]="{standalone: true}"
                       #dtAvvioAttivita="ngModel" disabled/>
                       
                    </div>
                    <div class="form-group">
                      <label for="dtStartSvil" class="inputLabel"> Data inizio sviluppo : </label>
                      
                      <input type="date" id="dtStartSvil" class="form-input inputForm " 
                      [ngModel]="evolutivaID.dtStartSvil | date:'y-MM-dd'"  [ngModelOptions]="{standalone: true}"
                       #dtStartSvil="ngModel" disabled/>
                       
                    </div>
                    <div class="form-group">
                      <label for="dtSystem" class="inputLabel"> Data in system : </label>
                      <input type="date" id="dtSystem" class="form-input inputForm " 
                      [ngModel]="evolutivaID.dtSystem | date:'y-MM-dd'"  [ngModelOptions]="{standalone: true}"
                       #dtSystem="ngModel" disabled/>
                       
                       
                    </div>
                    
                    <label for="evolutivaReleasePROD" class="inputLabel"> Evolutiva rilasciata in produzione: </label>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" [(ngModel)]="evolutivaID.evolutivaReleasePROD" [value]="true" disabled >
                      <label class="form-check-label" for="flexRadioDefault1">
                        Si
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" [(ngModel)]="evolutivaID.evolutivaReleasePROD" [value]="false" disabled >
                      <label class="form-check-label" for="flexRadioDefault2">
                       No
                      </label>
                    </div>
                  </div>
                  
                </div>



              </div>
            </div>
           </div>
           <!--QUARTO ACCORDION-->
           <div class="accordion-item accordionNTT-item">
            
            <h2 class="accordion-header " id="panelsStayOpen-headingFour">
              <button class="accordion-button  accordionNTT collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseFour" style="font-weight: bold;">
                Campo 4 (decidere titolo)
              </button>
            </h2>
            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingFour">
              <div class="accordion-body accordionbodyNTT">
                <div class="row">
                  <!-- Semicolonna di sx-->
                  <div class="col-6">
                    <div class="form-group">
                      <label for="stato" class="inputLabel"> Stato: </label>
                      
                        <input type="text" id="stato" class="form-input inputForm " [(ngModel)]="evolutivaID.stato"
                        [ngModelOptions]="{standalone: true}"
                         #stato="ngModel"  disabled/>
                    </div>
                    <div class="form-group">
                      <label for="stimaGGUISP" class="inputLabel"> Stima GG/U ISP: </label>
                      
                        <input type="number" id="stimaGGUISP" min="0" class="form-input inputForm " [(ngModel)]="evolutivaID.stimaGGUISP"
                        [ngModelOptions]="{standalone: true}"
                         #stimaGGUISP="ngModel"disabled/>
                    </div>
                  </div>
                  <!-- Semicolonna di dx-->
                  <div class="col-6">
                    <div class="form-group">
                      <label for="gGUtilizzateISP" class="inputLabel"> Giornate utilizzate ISP: </label>
                      
                        <input type="number" id="gGUtilizzateISP" min="0" class="form-input inputForm " [(ngModel)]="evolutivaID.gGUtilizzateISP"
                        [ngModelOptions]="{standalone: true}"
                         #gGUtilizzateISP="ngModel"  step="1" disabled/>
                    </div>
                    <div class="form-group">
                      <label for="residuoISP" class="inputLabel"> Residuo ISP: </label>
                      
                      <input type="number" id="residuoISP" min="0" class="form-input inputForm " [(ngModel)]="evolutivaID.residuoISP"
                      [ngModelOptions]="{standalone: true}"
                       #residuoISP="ngModel" step="1" disabled/>
                    </div>
                  </div>
      
                </div>
              </div>
            </div>
           </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modalefooter">
      <div class="row">
        <div class="col-9"></div>
        <div  class="col-3 d-flex flex-row-reverse">
         
        <button #btnDelete id={{tempID}} name={{tempID}} type="button" class="btn buttonInfo"
        (click)="openNTTmodal(modalEvoluitvaModifica)"><i class="far fa-edit  "> </i> </button>
        </div>
      </div>
      
      
    </div>
 
</ng-template>

<ng-template #modalEvoluitvaModifica let-modal>
  <div class="modaleheader">
    <div class="row">
      <div class="col-9"><h4 class="modal-title">Modifica Evolutiva <span style = "font-weight: normal; font-size: small; color: #fad100;">  (*campi obbligatori) </span></h4></div>
      <div class="col-3 d-flex flex-row-reverse">
        <button type="button" class="btn buttonAggiungi fas fa-undo " (click)="modal.close()"></button>
      </div>
    </div>
  </div>
 
    <div class="modal-body container">
      <div class="row">
        <div class="col">
          
          <div class="accordion" id="accordionPanelsStayOpenExample">
            <!--PRIMO ACCORDION-->
            <div class="accordion-item accordionNTT-item">
              <h2 class="accordion-header " id="panelsStayOpen-headingOne">
                <button class="accordion-button accordionNTT" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                  aria-controls="panelsStayOpen-collapseOne" style="font-weight: bold;">
                  GENERALE
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body accordionbodyNTT">
                  <div class="row">
                    <!-- Semicolonna di sx-->
                    <div class="col-5">
                      <div class="form-group">
                        <label for="acronimo" class="inputLabel"> Acronimo: * </label>
                       <!--<input id= "acronimo" type="text" [(ngModel)]="inputAcronimo" placeholder="Acronimo"
                          [ngModelOptions]="{standalone: true}"
                          [className]="acronimo.invalid && (acronimo.dirty || acronimo.touched) ? 'inputFormRed' : 'inputForm'"
                          required minlength="3" #acronimo="ngModel" />

                       --> 
                          <select  id= "acronimo" placeholder="Acronimo" class="form-select inputForm" [(ngModel)]="evolutivaID.acronimo"
                          [ngModelOptions]="{standalone: true}"
                          [className]="acronimo.invalid && (acronimo.dirty || acronimo.touched) ? 'inputFormRed' : 'inputForm'"
                          required minlength="2"  #acronimo="ngModel"  >
                          
                          <option>APDF0</option>
                          <option>GPDF0</option>
                          <option>LPDF0</option>
                          <option>UPDF0</option>
                          <option>ALCM0</option>
                          <option>MWFM0</option>
                          <option>MAUP0</option>
                          <option>WFMI0</option>
                          <option>MPAD0</option>
                          <option>GRAP0</option>
                          <option>8ODDD</option>
                          <option>MFEA0</option>
                          <option>PAPL0</option>
                          <option>NBPP0</option>
                          <option>NBPM0</option>
                          <option>CJHA0</option>
                          <option>41DDD</option>
                          <option>OKTA0</option>
                          <option>MSAD0</option>
                          <option>LCRO0</option>
                          <option>ZPDF0</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="richiedenteISP" class="inputLabel"> Richiedente ISP: * </label>
                          <select  id= "richiedenteISP" placeholder="richiedenteISP" class="form-select inputForm" [(ngModel)]="evolutivaID.richiedenteISP"
                          [ngModelOptions]="{standalone: true}"
                          [className]="richiedenteISP.invalid && (richiedenteISP.dirty || richiedenteISP.touched) ? 'inputFormRed' : 'inputForm'"
                          required minlength="2" #richiedenteISP="ngModel"  >
                          
                          <option>Angelino</option>
	                        <option>Boscolo</option>
	                        <option>Busacca</option>
	                        <option>Castellazzi</option>
	                        <option>Cipolla</option>
	                        <option>Cipolat</option>
	                        <option>Da Vià</option>
	                        <option>Demontis</option>
	                        <option>Delbono</option>
	                        <option>Di Costa</option>
	                        <option>Gentile</option>
	                        <option>Lizzi</option>
	                        <option>Perazzolo </option>
	                        <option>Perlo</option>
	                        <option>Vento</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="refNTTD" class="inputLabel"> Referente NTT DATA: * </label>
                        
                          <select id="refNTTD" placeholder="refNTTD" class="form-select" [(ngModel)]="evolutivaID.refNTTD"
                          [ngModelOptions]="{standalone: true}"
                          [className]="refNTTD.invalid && (refNTTD.dirty || refNTTD.touched) ? 'inputFormRed' : 'inputForm'"
                          required minlength="3" appForbiddenName=""  #refNTTD="ngModel" >
                          
                          <option>Giangualano</option>
                          <option>Bustamante</option>
                          <option>Punturiero</option>
                          <option>Giuganino_(RUD)</option>
                          <option>Zito</option>
                        </select>
                      </div>
                    </div>
                    <!-- Semicolonna di dx-->
                    <div class="col-7">
                      <div class="form-group">
                        <label for="Descrizione" class="inputLabel" >Descrizione: *</label>
                        <textarea class= "textAreaNTT" type="text" [(ngModel)]="evolutivaID.descrizione" placeholder="Inserisci descrizione dell'evolutiva"
                          [ngModelOptions]="{standalone: true}"
                          [className]="descrizione.invalid && (descrizione.dirty || descrizione.touched) ? 'inputFormRed textAreaNTT' : 'inputForm textAreaNTT'"
                          required minlength="10" #descrizione="ngModel"   >
                        </textarea>
                      </div>
                    </div>
                  </div>



                </div>
              </div>
            </div>
            <!--SECONDO ACCORDION-->
            <div class="accordion-item accordionNTT-item">
            
              <h2 class="accordion-header " id="panelsStayOpen-headingTwo">
                <button class="accordion-button  accordionNTT collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                  aria-controls="panelsStayOpen-collapseTwo" style="font-weight: bold;">
                  Campo 2 (decidere titolo)
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body accordionbodyNTT">
                  <div class="row">
                    <!-- Semicolonna di sx-->
                    <div class="col-6">
                      <div class="form-group">
                        <label for="refNTTD" class="inputLabel"> Referente Realizzazione NTT DATA: * {{evolutivaID.refRealizzazNTTD.nome}} </label>
                        <select id="refRealizzazNTTD" placeholder="refNTTD" class="form-select" [(ngModel)]="evolutivaID.refRealizzazNTTD">
                        <option *ngFor="let user of allUser" [ngValue]="user">{{user.nome}} {{user.cognome}}</option>
                        </select>
                      </div>
                    
                      <div class="form-group">
                        <label for="tipoRichiesta" class="inputLabel"> Tipo richiesta: </label>
                          <select  id= "tipoRichiesta" placeholder="tipoRichiesta" class="form-select inputForm" [(ngModel)]="evolutivaID.tipoRichiesta"
                          [ngModelOptions]="{standalone: true}"
                          #tipoRichiesta="ngModel"  >
                          <option></option>
                          <option>EVOLUTIVA</option>
	                        <option>EVOLUTIVA_SOSPESA</option>
	                        <option>SOTTRARRE_TESORETTO</option>
	                        <option>TESORETTO</option>
	                        <option>DA_NON_FARE</option>
	                      
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="loiNumOrdineNTTD" class="inputLabel"> Loi Numero d'Ordine (NTTD): </label>
                        
                          <input type="text" id="loiNumOrdineNTTD" placeholder="Loi Numero d'Ordine" class="form-input inputForm " [(ngModel)]="evolutivaID.loiNumOrdineNTTD"
                          [ngModelOptions]="{standalone: true}"
                           #refNTTD="ngModel" />
                         
                      </div>
                    </div>
                    <!-- Semicolonna di dx-->
                    <div class="col-6">
                      <div class="form-group">
                        <label for="statoTesorettoEvo" class="inputLabel"> Stato Tesoretto/Evolutive: </label>
                          <select  id= "statoTesorettoEvo" placeholder="tipoRichiesta" class="form-select inputForm" [(ngModel)]="evolutivaID.statoTesorettoEvo"
                          [ngModelOptions]="{standalone: true}"
                          #statoTesorettoEvo="ngModel" >
                          <option></option>
                          <option>USO_TESORETTO_AUTORIZZATO</option>
	                        <option>EVOLUTIVA_AUTORIZZATA_SENZA_RDA</option>
	                        <option>DA_CONFERMARE_ISP</option>
	                        <option>EVOLUTIVA_AUTORIZZATA_CON_RDA</option>
	                        <option>NA</option>
                          <option>USO_TESORETTO_DA_AUTORIZZARE</option>
	                      
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="statoTesorettoEvo" class="inputLabel"> Tecnologie di Sviluppo: </label>
                          <select  id= "tecSviluppo" placeholder="tipoRichiesta" class="form-select inputForm" [(ngModel)]="evolutivaID.tecSviluppo"
                          [ngModelOptions]="{standalone: true}"
                          #statoTesorettoEvo="ngModel" >
                          <option></option>
                          <option>Workbench</option>
	                        <option>Designer</option>
	                        <option>Xml</option>
	                        <option>VisualStudio</option>
	                        <option>Kofax_Total_Agility</option>
                          <option>Kofax_Trasformation</option>
                          <option>angular</option>
                          <option>java</option>
	                      
                        </select>
                      </div>
                      
                      <div class="form-group">
                        <label for="rdaISP" class="inputLabel"> RDA (da ISP): </label>
                        
                          <input type="text" id="rdaISP" placeholder="RDA (da ISP)" class="form-input inputForm " [(ngModel)]="evolutivaID.rdaISP"
                          [ngModelOptions]="{standalone: true}"
                           #refNTTD="ngModel" />
                         
                      </div>
                    </div>
                    
                  </div>



                </div>
              </div>
            </div>
           <!--TERZO ACCORDION-->
           <div class="accordion-item accordionNTT-item">
            
            <h2 class="accordion-header " id="panelsStayOpen-headingThree">
              <button class="accordion-button  accordionNTT collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseThree" style="font-weight: bold;">
                Campo 3 (decidere titolo)-DATE?
              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingThree">
              <div class="accordion-body accordionbodyNTT">
                <div class="row">
                  <!-- Semicolonna di sx-->
                  <div class="col-6">
                    <div class="form-group">
                      <label for="dtApproStima" class="inputLabel"> Data approvazione stima: </label>
                      
                        <input type="date" id="dtApproStima" class="form-input inputForm " [(ngModel)]="evolutivaID.dtApproStima"
                        [ngModelOptions]="{standalone: true}"
                         #dtApproStima="ngModel" />
                       
                    </div>
                    <div class="form-group">
                      <label for="dtRichiesta" class="inputLabel"> Data richiesta: </label>
                      
                        <input type="date" id="dtRichiesta" class="form-input inputForm " [(ngModel)]="evolutivaID.dtRichiesta"
                        [ngModelOptions]="{standalone: true}"
                         #dtRichiesta="ngModel" />
                       
                    </div>
                    <div class="form-group">
                      <label for="dtInvioStima" class="inputLabel"> Data invio stima: </label>
                      
                        <input type="date" id="dtInvioStima" class="form-input inputForm " [(ngModel)]="evolutivaID.dtInvioStima"
                        [ngModelOptions]="{standalone: true}"
                         #dtInvioStima="ngModel" />
                       
                    </div>
                    <div class="form-group">
                      <label for="dtDocTecnica" class="inputLabel"> Data documentazione tecnica: </label>
                      
                        <input type="date" id="dtDocTecnica" class="form-input inputForm " [(ngModel)]="evolutivaID.dtDocTecnica"
                        [ngModelOptions]="{standalone: true}"
                         #dtDocTecnica="ngModel" />
                       
                    </div>
                    <div class="form-group">
                      <label for="dtProd" class="inputLabel"> Data in produzione : </label>
                      
                        <input type="date" id="dtProd" class="form-input inputForm " [(ngModel)]="evolutivaID.dtProd"
                        [ngModelOptions]="{standalone: true}"
                         #dtProd="ngModel" />
                       
                    </div>

                  </div>
                  <!-- Semicolonna di dx-->
                  <div class="col-6">
                   
                    
                    <div class="form-group">
                      <label for="dtInoltroOfferta" class="inputLabel"> Data inoltro offerta: </label>
                      
                        <input type="date" id="dtInoltroOfferta" class="form-input inputForm " [(ngModel)]="evolutivaID.dtInoltroOfferta"
                        [ngModelOptions]="{standalone: true}"
                         #dtInoltroOfferta="ngModel" />
                       
                    </div>
                    <div class="form-group">
                      <label for="dtAvvioAttivita" class="inputLabel"> Data avvio attività: </label>
                      
                        <input type="date" id="dtAvvioAttivita" class="form-input inputForm " [(ngModel)]="evolutivaID.dtAvvioAttivita"
                        [ngModelOptions]="{standalone: true}"
                         #dtAvvioAttivita="ngModel" />
                       
                    </div>
                    <div class="form-group">
                      <label for="dtStartSvil" class="inputLabel"> Data inizio sviluppo : </label>
                      
                        <input type="date" id="dtStartSvil" class="form-input inputForm " [(ngModel)]="evolutivaID.dtStartSvil"
                        [ngModelOptions]="{standalone: true}"
                         #dtStartSvil="ngModel" />
                       
                    </div>
                    <div class="form-group">
                      <label for="dtSystem" class="inputLabel"> Data in system : </label>
                      
                        <input type="date" id="dtSystem" class="form-input inputForm " [(ngModel)]="evolutivaID.dtSystem"
                        [ngModelOptions]="{standalone: true}"
                         #dtSystem="ngModel" />
                       
                    </div>
                    
                    <label for="evolutivaReleasePROD" class="inputLabel"> Evolutiva rilasciata in produzione: * </label>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" [(ngModel)]="evolutivaID.evolutivaReleasePROD" [value]="true"  >
                      <label class="form-check-label" for="flexRadioDefault1">
                        Si
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" [(ngModel)]="evolutivaID.evolutivaReleasePROD" [value]="false"  >
                      <label class="form-check-label" for="flexRadioDefault2">
                       No
                      </label>
                    </div>
                  </div>
                  
                </div>



              </div>
            </div>
           </div>
           <!--QUARTO ACCORDION-->
           <div class="accordion-item accordionNTT-item">
            
            <h2 class="accordion-header " id="panelsStayOpen-headingFour">
              <button class="accordion-button  accordionNTT collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseFour" style="font-weight: bold;">
                Campo 4 (decidere titolo)
              </button>
            </h2>
            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingFour">
              <div class="accordion-body accordionbodyNTT">
                <div class="row">
                  <!-- Semicolonna di sx-->
                  <div class="col-6">
                    <div class="form-group">
                      <label for="stato" class="inputLabel"> Stato: </label>
                      
                        <input type="text" id="stato" class="form-input inputForm " [(ngModel)]="evolutivaID.stato"
                        [ngModelOptions]="{standalone: true}"
                         #stato="ngModel" placeholder="Stato" />
                    </div>
                    <div class="form-group">
                      <label for="stimaGGUISP" class="inputLabel"> Stima GG/U ISP: </label>
                      
                        <input type="number" id="stimaGGUISP" min="0" class="form-input inputForm " [(ngModel)]="evolutivaID.stimaGGUISP"
                        [ngModelOptions]="{standalone: true}"
                         #stimaGGUISP="ngModel" placeholder="Stima GG/U ISP" />
                    </div>
                  </div>
                  <!-- Semicolonna di dx-->
                  <div class="col-6">
                    <div class="form-group">
                      <label for="gGUtilizzateISP" class="inputLabel"> Giornate utilizzate ISP: </label>
                      
                        <input type="number" id="gGUtilizzateISP" min="0" class="form-input inputForm " [(ngModel)]="evolutivaID.gGUtilizzateISP"
                        [ngModelOptions]="{standalone: true}"
                         #gGUtilizzateISP="ngModel" placeholder="Stima GG/U ISP" step="1" />
                    </div>
                    <div class="form-group">
                      <label for="residuoISP" class="inputLabel"> Residuo ISP: </label>
                      
                      <input type="number" id="residuoISP" min="0" class="form-input inputForm " [(ngModel)]="evolutivaID.residuoISP"
                      [ngModelOptions]="{standalone: true}"
                       #residuoISP="ngModel" placeholder=" Residuo ISP" step="1" />
                    </div>
                  </div>
      
                </div>
              </div>
            </div>
           </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modalefooter">
      <div class="row">
        <div class="col">
          <button #btnDelete id={{tempID}} name={{tempID}} type="button" class="btn buttonDanger"
            (click)="confermaEliminazione()"><i class="far fa-trash  "> </i> </button>
        </div>
        <div class="col d-flex flex-row-reverse">
          <button type="button" (click)="modificaEvolutiva()" class="btn buttonInfo far fa-edit" data-dismiss="modal"></button>
        </div>
      </div>
    </div>
 
</ng-template>

<ng-template #modaNewEvo let-modal>
  <div class="modaleheader">
    <div class="row">
      <div class="col-9">
        <h4 class="modal-title"> Inserisci nuova evolutiva <span style = "font-weight: normal; font-size: small; color: #fad100;">  (*campi obbligatori) </span> </h4>
      </div>
      <div class="col-3 d-flex flex-row-reverse"><button type="button" class="btn buttonAggiungi fas fa-times "
          (click)="closeAllModal()"></button></div>

    </div>
  </div>
  <div class="modal-body container">
    <div class="row">
      <div class="col">
        
        <div class="accordion" id="accordionPanelsStayOpenExample">
          <!--PRIMO ACCORDION-->
          <div class="accordion-item accordionNTT-item">
            <h2 class="accordion-header " id="panelsStayOpen-headingOne">
              <button class="accordion-button accordionNTT" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne" style="font-weight: bold;">
                GENERALE
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
              aria-labelledby="panelsStayOpen-headingOne">
              <div class="accordion-body accordionbodyNTT">
                <div class="row">
                  <!-- Semicolonna di sx-->
                  <div class="col-5">
                    <div class="form-group">
                      <label for="acronimo" class="inputLabel"> Acronimo: *  </label>
                     <!--<input id= "acronimo" type="text" [(ngModel)]="inputAcronimo" placeholder="Acronimo"
                        [ngModelOptions]="{standalone: true}"
                        [className]="acronimo.invalid && (acronimo.dirty || acronimo.touched) ? 'inputFormRed' : 'inputForm'"
                        required minlength="3" #acronimo="ngModel" />

                     --> 
                        <select  id= "acronimo" placeholder="Acronimo" class="form-select inputForm" [(ngModel)]="evolutivaNew.acronimo"
                        [ngModelOptions]="{standalone: true}"
                        [className]="acronimo.invalid && (acronimo.dirty || acronimo.touched) ? 'form-select inputFormRed' : 'form-select inputForm'"
                        required minlength="2"  #acronimo="ngModel"  >
                        
                        <option>APDF0</option>
                        <option>GPDF0</option>
                        <option>LPDF0</option>
                        <option>UPDF0</option>
                        <option>ALCM0</option>
                        <option>MWFM0</option>
                        <option>MAUP0</option>
                        <option>WFMI0</option>
                        <option>MPAD0</option>
                        <option>GRAP0</option>
                        <option>8ODDD</option>
                        <option>MFEA0</option>
                        <option>PAPL0</option>
                        <option>NBPP0</option>
                        <option>NBPM0</option>
                        <option>CJHA0</option>
                        <option>41DDD</option>
                        <option>OKTA0</option>
                        <option>MSAD0</option>
                        <option>LCRO0</option>
                        <option>ZPDF0</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="richiedenteISP" class="inputLabel"> Richiedente ISP: *  </label>
                        <select  id= "richiedenteISP" placeholder="richiedenteISP" class="form-select inputForm" [(ngModel)]="evolutivaNew.richiedenteISP"
                        [ngModelOptions]="{standalone: true}"
                        [className]="richiedenteISP.invalid && (richiedenteISP.dirty || richiedenteISP.touched) ? 'form-select inputFormRed' : 'form-select inputForm'"
                        required minlength="2" #richiedenteISP="ngModel"  >
                        
                        <option>Angelino</option>
                        <option>Boscolo</option>
                        <option>Busacca</option>
                        <option>Castellazzi</option>
                        <option>Cipolla</option>
                        <option>Cipolat</option>
                        <option>Da Vià</option>
                        <option>Demontis</option>
                        <option>Delbono</option>
                        <option>Di Costa</option>
                        <option>Gentile</option>
                        <option>Lizzi</option>
                        <option>Perazzolo </option>
                        <option>Perlo</option>
                        <option>Vento</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="refNTTD" class="inputLabel"> Referente NTT DATA: *  </label>
                      
                        <select id="refNTTD" placeholder="refNTTD" class="form-select" [(ngModel)]="evolutivaNew.refNTTD"
                        [ngModelOptions]="{standalone: true}"
                        [className]="refNTTD.invalid && (refNTTD.dirty || refNTTD.touched) ? 'form-select inputFormRed' : ' form-select inputForm'"
                        required minlength="3" appForbiddenName=""  #refNTTD="ngModel" >
                        
                        <option>Giangualano</option>
                        <option>Bustamante</option>
                        <option>Punturiero</option>
                        <option>Giuganino_(RUD)</option>
                        <option>Zito</option>
                      </select>
                    </div>
                  </div>
                  <!-- Semicolonna di dx-->
                  <div class="col-7">
                    <div class="form-group">
                      <label for="Descrizione" class="inputLabel" >Descrizione: * </label>
                      <textarea class= "textAreaNTT" type="text" [(ngModel)]="evolutivaNew.descrizione" placeholder="Inserisci descrizione dell'evolutiva"
                        [ngModelOptions]="{standalone: true}"
                        [className]="descrizione.invalid && (descrizione.dirty || descrizione.touched) ? '  inputFormRed textAreaNTT' : '  inputForm textAreaNTT'"
                        required minlength="10" #descrizione="ngModel"   >
                      </textarea>
                    </div>
                  </div>
                </div>



              </div>
            </div>
          </div>
          <!--SECONDO ACCORDION-->
          <div class="accordion-item accordionNTT-item">
          
            <h2 class="accordion-header " id="panelsStayOpen-headingTwo">
              <button class="accordion-button  accordionNTT collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseTwo" style="font-weight: bold;">
                Campo 2 (decidere titolo)
              </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingTwo">
              <div class="accordion-body accordionbodyNTT">
                <div class="row">
                  <!-- Semicolonna di sx-->
                  <div class="col-6">
                    <div class="form-group">
                      <label for="refNTTD" class="inputLabel"> Referente Realizzazione NTT DATA: *  </label>
                      
                        <select id="refRealizzazNTTD" placeholder="refNTTD" class="form-select" [(ngModel)]="evolutivaNew.refRealizzazNTTD"
                        [ngModelOptions]="{standalone: true}"
                        [className]="refRealizzazNTTD.invalid && (refRealizzazNTTD.dirty || refRealizzazNTTD.touched) ? 'form-select inputFormRed' : 'form-select inputForm'"
                        required minlength="3" appForbiddenName=""  #refRealizzazNTTD="ngModel"  >
                        <!--è una selezione dinamica prende tutti gli user e lo collega con [ngValue]-->
                        <option *ngFor="let user of allUser" [ngValue]="user"> {{user.nome}} {{user.cognome}} </option>
                         
                      </select>
                    </div>
                  
                    <div class="form-group">
                      <label for="tipoRichiesta" class="inputLabel"> Tipo richiesta: </label>
                        <select  id= "tipoRichiesta" placeholder="tipoRichiesta" class="form-select inputForm" [(ngModel)]="evolutivaNew.tipoRichiesta"
                        [ngModelOptions]="{standalone: true}"
                        #tipoRichiesta="ngModel"  >
                        <option></option>
                        <option>EVOLUTIVA</option>
                        <option>EVOLUTIVA_SOSPESA</option>
                        <option>SOTTRARRE_TESORETTO</option>
                        <option>TESORETTO</option>
                        <option>DA_NON_FARE</option>
                      
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="loiNumOrdineNTTD" class="inputLabel"> Loi Numero d'Ordine (NTTD): </label>
                      
                        <input type="text" id="loiNumOrdineNTTD" placeholder="Loi Numero d'Ordine" class="form-input inputForm " [(ngModel)]="evolutivaNew.loiNumOrdineNTTD"
                        [ngModelOptions]="{standalone: true}"
                         #refNTTD="ngModel" />
                       
                    </div>
                  </div>
                  <!-- Semicolonna di dx-->
                  <div class="col-6">
                    <div class="form-group">
                      <label for="statoTesorettoEvo" class="inputLabel"> Stato Tesoretto/Evolutive: </label>
                        <select  id= "statoTesorettoEvo" placeholder="tipoRichiesta" class="form-select inputForm" [(ngModel)]="evolutivaNew.statoTesorettoEvo"
                        [ngModelOptions]="{standalone: true}"
                        #statoTesorettoEvo="ngModel" >
                        <option></option>
                        <option>USO_TESORETTO_AUTORIZZATO</option>
                        <option>EVOLUTIVA_AUTORIZZATA_SENZA_RDA</option>
                        <option>DA_CONFERMARE_ISP</option>
                        <option>EVOLUTIVA_AUTORIZZATA_CON_RDA</option>
                        <option>NA</option>
                        <option>USO_TESORETTO_DA_AUTORIZZARE</option>
                      
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="statoTesorettoEvo" class="inputLabel"> Tecnologie di Sviluppo: </label>
                        <select  id= "tecSviluppo" placeholder="tipoRichiesta" class="form-select inputForm" [(ngModel)]="evolutivaNew.tecSviluppo"
                        [ngModelOptions]="{standalone: true}"
                        #statoTesorettoEvo="ngModel" >
                        <option></option>
                        <option>Workbench</option>
                        <option>Designer</option>
                        <option>Xml</option>
                        <option>VisualStudio</option>
                        <option>Kofax_Total_Agility</option>
                        <option>Kofax_Trasformation</option>
                        <option>angular</option>
                        <option>java</option>
                      
                      </select>
                    </div>
                    
                    <div class="form-group">
                      <label for="rdaISP" class="inputLabel"> RDA (da ISP): </label>
                      
                        <input type="text" id="rdaISP" placeholder="RDA (da ISP)" class="form-input inputForm " [(ngModel)]="evolutivaNew.rdaISP"
                        [ngModelOptions]="{standalone: true}"
                         #refNTTD="ngModel" />
                       
                    </div>
                  </div>
                  
                </div>



              </div>
            </div>
          </div>
         <!--TERZO ACCORDION-->
         <div class="accordion-item accordionNTT-item">
          
          <h2 class="accordion-header " id="panelsStayOpen-headingThree">
            <button class="accordion-button  accordionNTT collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
              aria-controls="panelsStayOpen-collapseThree" style="font-weight: bold;">
              Campo 3 (decidere titolo)-DATE?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body accordionbodyNTT">
              <div class="row">
                <!-- Semicolonna di sx-->
                <div class="col-6">
                  <div class="form-group">
                    <label for="dtApproStima" class="inputLabel"> Data approvazione stima: </label>
                    
                    <input type="date" id="dtRichiesta" class="form-input inputForm " [(ngModel)]="evolutivaNew.dtApproStima"
                    [ngModelOptions]="{standalone: true}"
                     #dtApproStima="ngModel" />
                     
                  </div>
                  <div class="form-group">
                    <label for="dtRichiesta" class="inputLabel"> Data richiesta: </label>
                    
                      <input type="date" id="dtRichiesta" class="form-input inputForm " [(ngModel)]="evolutivaNew.dtRichiesta"
                      [ngModelOptions]="{standalone: true}"
                       #dtRichiesta="ngModel" />
                     
                  </div>
                  <div class="form-group">
                    <label for="dtInvioStima" class="inputLabel"> Data invio stima: </label>
                    
                      <input type="date" id="dtInvioStima" class="form-input inputForm " [(ngModel)]="evolutivaNew.dtInvioStima"
                      [ngModelOptions]="{standalone: true}"
                       #dtInvioStima="ngModel" />
                     
                  </div>
                  <div class="form-group">
                    <label for="dtDocTecnica" class="inputLabel"> Data documentazione tecnica: </label>
                    
                      <input type="date" id="dtDocTecnica" class="form-input inputForm " [(ngModel)]="evolutivaNew.dtDocTecnica"
                      [ngModelOptions]="{standalone: true}"
                       #dtDocTecnica="ngModel" />
                     
                  </div>
                  <div class="form-group">
                    <label for="dtProd" class="inputLabel"> Data in produzione : </label>
                    
                      <input type="date" id="dtProd" class="form-input inputForm " [(ngModel)]="evolutivaNew.dtProd"
                      [ngModelOptions]="{standalone: true}"
                       #dtProd="ngModel" />
                     
                  </div>

                </div>
                <!-- Semicolonna di dx-->
                <div class="col-6">
                 
                  
                  <div class="form-group">
                    <label for="dtInoltroOfferta" class="inputLabel"> Data inoltro offerta: </label>
                    
                      <input type="date" id="dtInoltroOfferta" class="form-input inputForm " [(ngModel)]="evolutivaNew.dtInoltroOfferta"
                      [ngModelOptions]="{standalone: true}"
                       #dtInoltroOfferta="ngModel" />
                     
                  </div>
                  <div class="form-group">
                    <label for="dtAvvioAttivita" class="inputLabel"> Data avvio attività: </label>
                    
                      <input type="date" id="dtAvvioAttivita" class="form-input inputForm " [(ngModel)]="evolutivaNew.dtAvvioAttivita"
                      [ngModelOptions]="{standalone: true}"
                       #dtAvvioAttivita="ngModel" />
                     
                  </div>
                  <div class="form-group">
                    <label for="dtStartSvil" class="inputLabel"> Data inizio sviluppo : </label>
                    
                      <input type="date" id="dtStartSvil" class="form-input inputForm " [(ngModel)]="evolutivaNew.dtStartSvil"
                      [ngModelOptions]="{standalone: true}"
                       #dtStartSvil="ngModel" />
                     
                  </div>
                  <div class="form-group">
                    <label for="dtSystem" class="inputLabel"> Data in system : </label>
                    
                      <input type="date" id="dtSystem" class="form-input inputForm " [(ngModel)]="evolutivaNew.dtSystem"
                      [ngModelOptions]="{standalone: true}"
                       #dtSystem="ngModel" />
                     
                  </div>
                  
                  <label for="evolutivaReleasePROD" class="inputLabel"> Evolutiva rilasciata in produzione: *  </label>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" [(ngModel)]="evolutivaNew.evolutivaReleasePROD" [value]="true"  >
                    <label class="form-check-label" for="flexRadioDefault1">
                      Si
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" [(ngModel)]="evolutivaNew.evolutivaReleasePROD" [value]="false"  >
                    <label class="form-check-label" for="flexRadioDefault2">
                     No
                    </label>
                  </div>
                </div>
                
              </div>



            </div>
          </div>
         </div>
         <!--QUARTO ACCORDION-->
         <div class="accordion-item accordionNTT-item">
          
          <h2 class="accordion-header " id="panelsStayOpen-headingFour">
            <button class="accordion-button  accordionNTT collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
              aria-controls="panelsStayOpen-collapseFour" style="font-weight: bold;">
              Campo 4 (decidere titolo)
            </button>
          </h2>
          <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingFour">
            <div class="accordion-body accordionbodyNTT">
              <div class="row">
                <!-- Semicolonna di sx-->
                <div class="col-6">
                  <div class="form-group">
                    <label for="stato" class="inputLabel"> Stato: </label>
                    
                      <input type="text" id="stato" class="form-input inputForm " [(ngModel)]="evolutivaNew.stato"
                      [ngModelOptions]="{standalone: true}"
                       #stato="ngModel" placeholder="Stato" />
                  </div>
                  <div class="form-group">
                    <label for="stimaGGUISP" class="inputLabel"> Stima GG/U ISP: </label>
                    
                      <input type="number" id="stimaGGUISP" min="0" class="form-input inputForm " [(ngModel)]="evolutivaNew.stimaGGUISP"
                      [ngModelOptions]="{standalone: true}"
                       #stimaGGUISP="ngModel" placeholder="Stima GG/U ISP" />
                  </div>
                </div>
                <!-- Semicolonna di dx-->
                <div class="col-6">
                  <div class="form-group">
                    <label for="gGUtilizzateISP" class="inputLabel"> Giornate utilizzate ISP: </label>
                    
                      <input type="number" id="gGUtilizzateISP" min="0" class="form-input inputForm " [(ngModel)]="evolutivaNew.gGUtilizzateISP"
                      [ngModelOptions]="{standalone: true}"
                       #gGUtilizzateISP="ngModel" placeholder="Stima GG/U ISP" step="1" />
                  </div>
                  <div class="form-group">
                    <label for="residuoISP" class="inputLabel"> Residuo ISP: </label>
                    
                    <input type="number" id="residuoISP" min="0" class="form-input inputForm " [(ngModel)]="evolutivaNew.residuoISP"
                    [ngModelOptions]="{standalone: true}"
                     #residuoISP="ngModel" placeholder=" Residuo ISP" step="1" />
                  </div>
                </div>
    
              </div>
            </div>
          </div>
         </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modalefooter">
    <div class="row">
      <div class="col d-flex flex-row-reverse">
       
          <button type="button" (click)="insertEvolutiva()" class="btn buttonInfo fas fa-check"
            data-dismiss="modal"></button>
        
            
      </div>
    </div>
  </div>
</ng-template>

<ng-template #modalRichiestaDelete let-modal>
  <div class="modal-header"></div>
  <div class="modal-body">
    Eliminare Evolutiva ?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn buttonInfo fas fa-times " (click)="closeAllModal()"></button>
    <button #btnDelete id={{tempID}} name={{tempID}} type="button" class="btn buttonDanger"
      (click)="eliminaEvolutiva(btnDelete)"><i class="far fa-trash  "> </i> </button>
  </div>
</ng-template>
<ng-template #modalConfermaraDelete let-modal>
  <div class="modal-header"></div>
  <div class="modal-body">
    Evolutiva eliminata correttamente
  </div>
  <div class="modal-footer">
    <button type="button" class="btn buttonInfo fas fa-times " (click)="closeAllModal()"></button>
  </div>
</ng-template>
<ng-template #modalConfermaInsert let-modal>
  <div class="modal-header"></div>
  <div class="modal-body">
    Evolutiva inserta correttamente
  </div>
  <div class="modal-footer">
    <button type="button" class="btn buttonInfo fas fa-times " (click)="closeAllModal()"></button>
  </div>
</ng-template>
<ng-template #modalConfermaUpdate let-modal>
  <div class="modal-header"></div>
  <div class="modal-body">
    Evolutiva modificata correttamente
  </div>
  <div class="modal-footer">
    <button type="button" class="btn buttonInfo fas fa-times " (click)="closeAllModal()"></button>
  </div>
</ng-template>
<ng-template #modalErroreUpdate let-modal>
  <div class="modal-header"></div>
  <div class="modal-body">
    errore modifica evolutiva controllare i campi
  </div>
  <div class="modal-footer">
    <button type="button" class="btn buttonInfo fas fa-times " (click)="closeAllModal()"></button>
  </div>
</ng-template>
<ng-template #modalErroreInsert let-modal>
  <div class="modal-header"></div>
  <div class="modal-body">
    errore inserimento evolutiva controllare i campi
  </div>
  <div class="modal-footer">
    <button type="button" class="btn buttonInfo fas fa-times " (click)="closeAllModal()"></button>
  </div>
</ng-template>
