.cardEvolutiva{
    width: 90%;
    height: 60px;
    border: 3px solid #fad100;
    text-align: left;
    vertical-align:middle;
    border-radius: 0% 15px 0% 0%;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #070e27!important;
    color: white;
    box-shadow:  #fad100; 
    display: flex !important;
    align-items: center !important;
    transition-duration: 0.4s;   
}

.cardEvolutiva:hover{
    color: #fad100;
    border: 3px solid white;
    width: 100%;
    margin-bottom: 10px; 
    margin-top: 10px; 
    margin-left: 10px; 
    height: 70px;  
}

.textarea{
    resize: none;
    height: 50px;
}


.buttonDanger{
    height: 30px;
    width: 30px;
    border-radius: 50% ;
    background-color: red;
    margin: 5px;
    color: white;
    text-align: center;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important; 
}
.buttonAggiungi{
    height: 30px;
    width: 30px;
    border-radius: 50% ;
    background-color: #fad100;
    margin: 5px;
    color: white;
    text-align: center;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    transition: 1s;
}
.buttonInfo{
    height: 30px;
    width: 30px;
    border-radius: 50% ;
    background-color: #008f39;
    margin: 5px;
    color: white;
    text-align: center;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.modaleNTT{
    background-color: #070e27!important;
    border: 3px solid #fad100;
    text-align: left;
    vertical-align:middle;
    border-radius: 0% 25px 0% 0%;
    color: white;
}
.modal-backdrop.in {
	opacity: 0.0 !important;
    filter: blur(8px) important !important;
}
.inputForm{
    height: 45px;
    border-radius: 20px 20px 20px 20px;
    margin: top 9px; ;
}
.form-group{
    margin: 5px;
}   
.modaleNTTAngular  .modal-content{
    background-color: #070e27!important;
    border: 3px solid #fad100;
    text-align: left;
    vertical-align:middle;
    border-radius: 0% 25px 0% 0%;
    color: white;

}
body.modal-open > :not(.modal) {
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}
.modalefooter{
    padding: 0.75rem;
    padding-top: 0rem;
}
.modaleheader{
    padding: 0.75rem;
    padding-bottom: 0rem;
}
.wrapper{
    -webkit-filter: blur(8px);
    -ms-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    filter: blur(8px);
}
.dataUser{
    color: #fad100;
    text-align: right;
    font-weight: bold;
    margin-right:15px;
    margin-bottom: 15px;

}
.dataUserTitle{
    color: #fad100;
    text-align: left;
    font-weight: bold;
}
.inputForm {
    height: 45px;
    border-radius: 20px 20px 20px 20px;
    margin: top 9px;
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
   
    border: 1px solid #ced4da;
    /* border-radius: 0.25rem; */
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.inputFormRed {
    height: 45px;
    border-radius: 20px 20px 20px 20px;
    margin: top 9px;
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    background-color: white;
    box-shadow: inset 0 0 10px #ff2424;
    
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.accordionNTT {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: #fad100 !important;
    text-align: left;
    background-color: #070e27 !important;
    border: 0;
    
    margin-top: 5px !important;
    border-radius: 0 15px 0 0 !important;
    overflow-anchor: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
}

    
.accordionNTT:focus {
       
        border-color: #fad100 !important;
        box-shadow:unset!important;
}
.accordion-item:first-of-type {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.accordionbodyNTT{
    border-top: solid 3px #fad100;
}
.accordion-item {
    background-color: #070e27;
    border: solid 3px #fad100 !important;
    border-radius: 0 15px 0 0 !important;
    margin-bottom: 10px;
}
.inputLabel{
    margin-bottom: 5px;
    font-weight: bold;
}

.textAreaNTT{
    height: 185px;
    resize: none;
}
.form-check-input:checked {
    background-color: #fad100;
    border-color: #fad100;
}
select:disabled {
    opacity: 01;
    background-color: #fad100  !important;
    color: #070e27 !important;
    font-weight: 700;
}
textarea:disabled{
    opacity: 01;
    background-color: #fad100 !important;
    color: #070e27 !important;

}
input:disabled{
    opacity: 01;
    background-color: #fad100 !important;
    color: #070e27 !important;
    font-weight: 700;

}




