<div class="container main">
  <div class="row mt-4 nttData">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="row">
        <div class="col-6">
          <h4>Lista Utenti</h4>
        </div>
        
        <div class="col-6 d-flex flex-row-reverse" style="padding-right:120px;">
          <button #btnAddUser class="btn buttonAggiungi" (click)="newUserModal(modaNewlUser)"><i class="fas fa-plus"> </i> </button>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div *ngFor="let user of users">
            <div class="cardUser row" type="button"  #btnStore id={{user.id}} type="button"(click)="aprimodaleInfo(user.id)" >
              <div class="col-6">
                {{user.nome}} {{user.cognome}}
              </div>
              <div class="col-6 d-flex flex-row-reverse">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
  
</div>

<!--modale conferma-->
<ng-template #modalConfermaUpdate let-modal>
    <div class="modaleheader"></div>
      <div class="modal-body">
        Utente modificato correttamente
      </div>
      <div class="modalefooter">
        <button type="button" class="btn buttonInfo fas fa-check " (click)="closeAllModal()"></button>
      </div>
</ng-template>
<ng-template #modalConfermaInsert let-modal>
  <div class="modaleheader"></div>
    <div class="modal-body">
      Utente inserto correttamente
    </div>
    <div class="modalefooter">
      <button type="button" class="btn buttonInfo fas fa-check " (click)="closeAllModal()"></button>
    </div>
</ng-template>

<ng-template #modalConfermaDelete let-modal>
  <div class="modaleheader"></div>
    <div class="modal-body">
      Utente eliminato correttamente
    </div>
    <div class="modalefooter">
      <button type="button" class="btn buttonInfo fas fa-check " (click)="closeAllModal()"></button>
    </div>
</ng-template>
<!--modale richiesta DEL-->
<ng-template #modalRichiestaDelete let-modal>
  <div class="modaleheader"></div>
    <div class="modal-body">
      Eliminare dipendente  {{userDaModificare.nome}} {{userDaModificare.cognome}}?
    </div>
    <div class="modal-footer modalefooter ">

      <button type="button" class="btn buttonInfo fas fa-times " (click)="modal.close()"></button>
      <button #btnDelete  type="button" class="btn buttonDanger"
      (click)="eliminaDipendente()"><i class="far fa-trash  "> </i> </button>
    </div>
</ng-template>
<!-- MODALE INFO nuova-->
<ng-template #modalUserInfo let-modal>
  <div class="modaleheader">
    <div class="row">
      <div class="col-9">
       <h4 class="modal-title dataUserTitle">    {{singleUser.nome}} {{singleUser.cognome}} </h4>
      </div>
      <div  class="col-3 d-flex flex-row-reverse" >
        <button type="button" class="btn buttonAggiungi fas fa-times " (click)="closeAllModal()"></button>
      </div>
    </div>
  </div>
  
  <div>
    <div class="modal-body container">
      <div class="row" >
      
        <div class="col-6">
          <form>
            <div class="form-group">
              <label  class="inputLabel">Nome:</label>
              <input type="text" [(ngModel)]="singleUser.nome"
                placeholder="Nome" [ngModelOptions]="{standalone: true}" [className]="nomeMod.invalid && (nomeMod.dirty || nomeMod.touched) ? 'inputFormRed' : 'inputForm'"required minlength="3" #nomeMod="ngModel" disabled />
              </div>
            <div class="form-group">
              <label  class="inputLabel">Cognome:</label>
              <input  type="text" class="form-control inputForm " placeholder="Cognome"
                [(ngModel)]="singleUser.cognome" [ngModelOptions]="{standalone: true}" [className]="cognomeMod.invalid && (cognomeMod.dirty || cognomeMod.touched) ? 'inputFormRed' : 'inputForm'"required minlength="3" #cognomeMod="ngModel" disabled/>
            </div>
            <div class="form-group">
              <label  class="inputLabel">Email:</label>
              <input  type="email" class="form-control inputForm" aria-describedby="emailHelp"
                placeholder="Enter email" [(ngModel)]="singleUser.email" [ngModelOptions]="{standalone: true}" [className]="emailMod.invalid && (emailMod.dirty || emailMod.touched) ? 'inputFormRed' : 'inputForm'"required minlength="3" #emailMod="ngModel" disabled >
            </div>
          </form>
        </div>
        <div class="col-6">
          <form>
            <div class="form-group">
              <label  class="inputLabel">Ruolo:</label>
              <select class="form-control inputForm" [(ngModel)]="singleUser.ruolo"
                [ngModelOptions]="{standalone: true}" [className]="ruoloMod.invalid && (ruoloMod.dirty || ruoloMod.touched) ? 'inputFormRed form-select ' : 'inputForm form-select '"required minlength="3" appForbiddenName="Seleziona" #ruoloMod="ngModel" disabled>
                <option selected>Seleziona</option>
                <option>admin</option>
                <option>dipendente</option>
                <option>esterno</option>
              </select>
            </div>
            <div class="form-group">
              <label for="" class="inputLabel"> Cluster di appartenenza:</label>
              <input type="number" class="form-control inputForm" placeholder="Enter id cluster"
                [(ngModel)]="singleUser.idCluApp" [ngModelOptions]="{standalone: true}" disabled>
            </div>
            <div class="form-group">
              <label  class="inputLabel" >Posizione:</label>
              <input  type="text" class="form-control inputForm" placeholder="Enter posizione"
                [(ngModel)]="singleUser.posizione" [ngModelOptions]="{standalone: true}" disabled>
            </div>
          </form>
  
        </div>
      </div>
    </div>
    <div class="modalefooter">
      <div class="row">
        <div class="col-6 d-flex flex-row-start"> 
          <button  type="button" class="btn buttonInfo far fa-edit "
            (click)="aprimodaleModifica()"><span aria-hidden="true"></span></button>
        </div>
      </div>
    </div>
  </div> 
</ng-template>
<!-- Modale User modifica-->
<ng-template #modalUserModifica let-modal>
  <div class="modaleheader">
    <div class="row">
      <div class="col-9">
       <h4 class="modal-title dataUserTitle">    {{singleUser.nome}} {{singleUser.cognome}}  <span style = "font-weight: normal; font-size: small; color: white;">  (*campi obbligatori) </span></h4>
      </div>
      <div  class="col-3 d-flex flex-row-reverse" >
        
        <button  type="button" class="btn buttonAggiungi fas fa-undo "
            (click)="modal.close()"><span aria-hidden="true"></span></button>
      </div>
    </div>
  </div>
  <div class="modal-body container">
    <div class="row" >
    
      <div class="col-6">
        <form>
          <div class="form-group">
            <label  class="inputLabel">Nome: *</label>
            <input type="text" [(ngModel)]="userDaModificare.nome"
              placeholder="Nome" [ngModelOptions]="{standalone: true}" [className]="nomeMod.invalid && (nomeMod.dirty || nomeMod.touched) ? 'inputFormRed form-control' : 'inputForm form-control'"required minlength="3" #nomeMod="ngModel"  />
            </div>
          <div class="form-group">
            <label  class="inputLabel">Cognome: *</label>
            <input  type="text" class="form-control inputForm " placeholder="Cognome"
              [(ngModel)]="userDaModificare.cognome" [ngModelOptions]="{standalone: true}" [className]="cognomeMod.invalid && (cognomeMod.dirty || cognomeMod.touched) ? 'inputFormRed form-control' : 'inputForm form-control '"required minlength="3" #cognomeMod="ngModel" />
          </div>
          <div class="form-group">
            <label  class="inputLabel">Email: *</label>
            <input  type="email" class="form-control inputForm" aria-describedby="emailHelp"
              placeholder="Enter email" [(ngModel)]="userDaModificare.email" [ngModelOptions]="{standalone: true}" [className]="emailMod.invalid && (emailMod.dirty || emailMod.touched) ? 'inputFormRed form-control ' : 'inputForm form-control'"required minlength="3" #emailMod="ngModel"  >
          </div>
        </form>
      </div>
      <div class="col-6">
        <form>
          <div class="form-group">
            <label  class="inputLabel">Ruolo: *</label>
            <select class="form-control inputForm" [(ngModel)]="userDaModificare.ruolo"
              [ngModelOptions]="{standalone: true}" [className]="ruoloMod.invalid && (ruoloMod.dirty || ruoloMod.touched) ? ' form-select inputFormRed' : 'form-select inputForm'"required minlength="3" appForbiddenName="Seleziona" #ruoloMod="ngModel" >
              <option>admin</option>
              <option>dipendente</option>
              <option>esterno</option>
            </select>
          </div>
          <div class="form-group">
            <label for="" class="inputLabel"> Cluster di appartenenza:</label>
            <input type="number" class="form-control inputForm" placeholder="Enter id cluster"
              [(ngModel)]="userDaModificare.idCluApp" [ngModelOptions]="{standalone: true}" >
          </div>
          <div class="form-group">
            <label  class="inputLabel" >Posizione:</label>
            <input  type="text" class="form-control inputForm" placeholder="Enter posizione"
              [(ngModel)]="userDaModificare.posizione
              " [ngModelOptions]="{standalone: true}" >
          </div>
        </form>

      </div>
    </div>
  </div>
    <div class="modalefooter">
      <div class="row">
        <div class="col-6 d-flex flex-row-start"> 
            
        </div>
        <div class="col-6 d-flex flex-row-reverse" >
          <button #btnDelete type="button" class="btn buttonDanger" (click)="confermaEliminazione()"><i class="far fa-trash  "> </i> </button>
          
          
          <div *ngIf="nomeMod.invalid || cognomeMod.invalid || emailMod.invalid  || ruoloMod.invalid; else elseBlocco" >
            <button type="button"  class="btn buttonInfo far fa-edit" disabled></button>
          </div>
          <ng-template #elseBlocco>
            <button type="button" (click)="modificaUtente()" class="btn buttonInfo far fa-edit" data-dismiss="modal"></button>
          </ng-template>
            
          
          
        </div>
      </div>
    
  </div> 
  

</ng-template>


<!--modle new USER-->
<ng-template #modaNewlUser let-modal>
  <div class="modaleheader">
    <div class="row">
      <div class="col-9">
        <h4 class="modal-title"> Inserisci nuovo utente  <span style = "font-weight: normal; font-size: small; color: #fad100;">  (*campi obbligatori) </span> </h4>
      </div>
      <div class="col-3 d-flex flex-row-reverse"><button type="button" class="btn buttonAggiungi fas fa-times " (click)="closeAllModal()"></button></div>
      
    </div>
  </div>
  <div class="modal-body container">
    <div class="row">
    </div>
    <div class="row">
      
      <div class="col-6">
        <form>
          <div class="form-group">
            <label class="inputLabel" for="">Nome: *</label>
            <input   type="text" [(ngModel)]="newUser.nome"
              placeholder="Nome" [ngModelOptions]="{standalone: true}" [className]="nome.invalid && (nome.dirty || nome.touched) ? 'inputFormRed' : 'inputForm'"required minlength="3" #nome="ngModel" />
            </div>
          <div class="form-group">
            <label class="inputLabel"  for="">Cognome: *</label>
            <input  type="text" class="form-control inputForm " placeholder="Cognome"
              [(ngModel)]="newUser.cognome" [ngModelOptions]="{standalone: true}" [className]="cognome.invalid && (cognome.dirty || cognome.touched) ? 'inputFormRed' : 'inputForm'"required minlength="3" #cognome="ngModel"/>
          </div>
          <div class="form-group">
            <label class="inputLabel"  for="">Email: *</label>
            <input  type="email" class="form-control inputForm" aria-describedby="emailHelp"
              placeholder="Enter email" [(ngModel)]="newUser.email" [ngModelOptions]="{standalone: true}" [className]="email.invalid && (email.dirty || email.touched) ? 'inputFormRed' : 'inputForm'"required minlength="3" #email="ngModel" >
          </div>
        </form>
      </div>
      <div class="col-6">
        <form>
          <div class="form-group">
            <label class="inputLabel"  for="">Ruolo: *</label>
            <select class="form-control inputForm" [(ngModel)]="newUser.ruolo"
              [ngModelOptions]="{standalone: true}" [className]="ruolo.invalid && (ruolo.dirty || ruolo.touched) ? 'inputFormRed form-select' : 'inputForm form-select'"required minlength="3" appForbiddenName="Seleziona" #ruolo="ngModel">
              <option>admin</option>
              <option>dipendente</option>
              <option>esterno</option>
            </select>
          </div>
          <div class="form-group">
            <label class="inputLabel"  for="">Cluster di appartenenza: *</label>
            <input type="number" class="form-control inputForm" placeholder="Enter cluster di appartenenza"
              [(ngModel)]="newUser.idCluApp" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label class="inputLabel"  for="">Posizione:</label>
            <input  type="text" class="form-control inputForm" placeholder="Enter posizione"
              [(ngModel)]="newUser.posizione" [ngModelOptions]="{standalone: true}">
          </div>
        </form>

      </div>
    </div>
  </div>
  <div class="modalefooter">
    <div class="row">
    <div class="col d-flex flex-row-reverse"> 
      <div *ngIf="nome.invalid || cognome.invalid || email.invalid
      || ruolo.invalid; else elseBlock"  >
     
        <button class="btn buttonInfo fas fa-check"
        data-dismiss="modal" disabled></button>
      </div>
        <ng-template #elseBlock> 
          <button type="button" (click)="insertUser()" class="btn buttonInfo fas fa-check" data-dismiss="modal" ></button>
      </ng-template>
    </div>
    
  </div>
  </div>
</ng-template>
